/* fonts for logo, headings and body text */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Mitr:wght@300&family=WindSong:wght@500&display=swap');

/*body headings and paragraphs */
h1 {
    font-family: "WindSong", sans-serif;
    font-size: 50px;
    color: lightblue;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.logo_byline {
    font-family: "WindSong", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: lightblue;
    letter-spacing: 2px;
    margin: 0;
    padding-left: 20px;
  }

  body {
    margin: 0;
    font-family: "Comfortaa", sans-serif;
    color: white;
    font-size: 20px;
    line-height: 30px;
    background: black;
    z-index: -1;
  }

  h2, h3, h4 {
    font-family: "Mitr", sans-serif;
    color: pink;
    padding-left: 20px;
  }
  
  p {
    padding-left: 20px;
  }
  
  .paragraph {
    color: pink;
    font-size: 25px;
    line-height: 35px;
    padding-left: 20px;
  }