/* fonts for logo, headings and body text */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Mitr:wght@300&family=WindSong:wght@500&display=swap');

/*body headings and paragraphs */
h1 {
    font-family: "WindSong", sans-serif;
    font-size: 60px;
    color: lightblue;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.logo_byline {
    font-family: "WindSong", sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: lightblue;
    letter-spacing: 2px;
    margin: 0;
    padding-left: 20px;
  }

  body {
    margin: 0;
    font-family: "Comfortaa", sans-serif;
    color: white;
    font-size: 20px;
    line-height: 30px;
    background: black;
    z-index: -1;
  }

  h2, h3, h4 {
    font-family: "Mitr", sans-serif;
    color: pink;
    padding-left: 20px;
  }
  
  p {
    padding-left: 20px;
  }
  
  .paragraph {
    color: pink;
    font-size: 25px;
    line-height: 35px;
    padding-left: 20px;
  }

  form {
    padding-left: 20px;
  }

  /* image on home page */
  .image {
    float: right;
    padding-top: 30px;
    padding-left: 20px;
    margin-right: 50px;
  }

  /* images on 'movie quotes quiz', 'actor quotes quiz' pages*/
  .quiz_positioning {
    position: relative;
  }
  
  .image_positioning {
    float: right;
    position: relative;
    margin-right: 100px;
    margin-top: 0;
    padding: 0;
  }

  .image_positioning_2 {
    float: right;
    position: relative;
    margin-right: 100px;
    margin-top: 0;
    padding: 0;
  }

  /* button: start quiz on 'home page' */
.quiz_button {
    color: lightblue;
    background-color: black;
    border: 2px;
    border-radius: 12px;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    transition-duration: 0.5s;
    box-shadow: 0 0 10px 5px lightblue;
  }

  .quiz_button:hover {
    background-color: lightblue;
    color: black;
  }

  /* 'movie quotes quiz' and 'actor quotes quiz' question & answer blocks */
    .question-left {
    float: left;
    width: 46%;
    margin-right: 0;
  }

  .question-right {
    float: right;
    width: 43%;
    margin-right: 20px;
    clear: right;
  }

  .question {
    color: pink;
    font-weight: 600;
  }

  /* button: return to homepage */
    .return_homepage {
    padding-left: 20px;
    color: white;
  }

  /* button: reset */
    #resetButton {
    position: fixed;
    top: -4px;
    right: 10px;
    margin-top: 75px;
    margin-right: 20px;
  }
  
  .reset_styling {
    color: black;
    background-color: lightblue;
    border-radius: 12px;
    padding: 8px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  /* button: submit */
.submitter {
    width: 100px;
    bottom: -4px;
    left: 10px;
    padding-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .quiz_submit {
    color: black;
    background-color: lightblue;
    border-radius: 12px;
    padding: 8px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  /* container: to display user results */
.results_container {
  float: left;
  position: absolute;
  z-index: 8;
  padding-left: 35px;
  line-height: 35px;
}

.quizScore {
  font-size: 25px;
  color: pink;
  padding-left: 5px;
}

/* FOOTER */
.footer {
  clear: both;
  padding-top: 120px;
  padding-bottom: 50px;
  padding-left: 25px;
}

.footer_link {
  color: lightblue;
  font-size: 20px;
  padding-right: 60px;
}

/* button: to go to next quiz */
.next_quiz {
  float: right;
  margin-right: 90px;
  padding-bottom: 30px;
  display: block;
    
  color: lightblue;
  background-color: black;
  border: 2px;
  border-radius: 12px;
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
  transition-duration: 0.5s;
  box-shadow: 0 0 10px 5px lightblue;
}

.next_quiz:hover {
  background-color: lightblue;
  color: black;
  }

  /* terms of service page */
 .body_margins {
  margin-left: 10px;
  margin-right: 20px;
}

/* M E D I A   Q U E R I E S   for tablets and mobiles */

/* T A B L E T S */
@media screen and (max-width: 770px) {

  /* body headings and paragraphs */
  .logo_byline {
    font-size: 30px;
  }

  .paragraph {
    font-size: 20px;
    margin-right: 0;
  }

  p {
    font-size: 18px;
  }

  /* image on home page */
  .image {
    float: right;
    width: 40%;
    height: auto;
    margin-left: 0;
    margin-right: 50px;
  }

  /* 'movie quotes quiz' and 'actor quotes quiz' question & answer blocks */
  .question-left {
    width: 44%;
  }

  .question-right {
    width: 44%;
  }

  /* images on 'movie quotes quiz', 'actor quotes quiz' */
  .image_positioning {
    float: right;
    margin-right: 20px;
  }

  .image_positioning_2 {
    float: right;
    margin-right: 20px;
  }

  /*  FOOTER */
  /* button: to go to next quiz */
  .next_quiz {
    font-size: 18px;
    margin-right: 20px;
  }
}