/* fonts for logo, headings and body text */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Mitr:wght@300&family=WindSong:wght@500&display=swap');

/*body headings and paragraphs */

#content {
  max-width: 1024px;
}

h1 {
    font-family: "WindSong", sans-serif;
    font-size: 60px;
    color: lightblue;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding-left: 30px;
}

.logo_byline {
    font-family: "WindSong", sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: lightblue;
    letter-spacing: 2px;
    margin: 0;
    padding-left: 30px;
  }

  body {
    margin: 0;
    font-family: "Comfortaa", sans-serif;
    color: white;
    font-size: 20px;
    line-height: 30px;
    background: black;
    z-index: -1;
  }

  h2, h3, h4 {
    font-family: "Mitr", sans-serif;
    color: pink;
    padding-left: 20px;
  }
  
  p {
    padding-left: 20px;
  }
  
  .paragraph {
    color: pink;
    font-size: 25px;
    line-height: 35px;
  }

  form {
    padding-left: 20px;
  }

  /* username prompt on home page */
  .prompt {
    float: left;
    max-width: 45%;
    padding-left: 20px;
    padding-bottom: 0;
    margin: 0;
  }

  #form1 {
    font-size: 20px;
    z-index: 1;
  }

  #name {
    font-size: 20px;
    z-index: 1;
  }

  #submitPrompt {
    font-size: 20px;
  }

  #result {
    color: greenyellow;
    font-size: 25px;
    background-color: black;
    margin-top: 0;
    padding-top: 0;
    z-index: 2;
    display: block;
    padding-bottom: 20px;
  }

  /* image on home page */
  .image {
    float: right;
    width: 425px;
    height: 425px;
    padding-right: 20px;
    height: auto;
    clear: both;
  }

  /* div positioning on homepage */
  .homepage_div {
    clear: left;
    float: left;
    max-width: 46%;
    padding-right: 10px;
    padding-left: 20px;
    margin: 0;
  }

  .homepage_div_2 {
    float: left;
    width: 90%;
    padding-left: 20px;
  }

  /* images on 'movie quotes quiz', 'actor quotes quiz' pages*/
  .quiz_positioning {
    position: relative;
  }
  
  .image_positioning {
    float: right;
    position: relative;
    margin-right: 100px;
    margin-top: 0;
    padding: 0;
    width: 280px;
    height: 350px;
  }

  .image_positioning_2 {
    float: right;
    position: relative;
    margin-right: 100px;
    margin-top: 0;
    padding: 0;
    width: 248px;
    height: 325px;
  }

  /* button: start quiz on 'home page' */
.quiz_button {
    color: lightblue;
    background-color: black;
    border: 2px;
    border-radius: 12px;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    transition-duration: 0.5s;
    box-shadow: 0 0 10px 5px lightblue;
  }

  .quiz_button:hover {
    background-color: lightblue;
    color: black;
  }

  /* 'movie quotes quiz' and 'actor quotes quiz' question & answer blocks */
    .question-left {
    float: left;
    width: 45%;
    margin-right: 0;
    clear: both;
  }

  .question-right {
    float: right;
    width: 43%;
    margin-right: 20px;
    clear: right;
  }

  .question {
    color: pink;
    font-weight: 600;
  }

  /* radio button size*/
  input[type='radio'] { 
    transform: scale(1.2); 
  }

  /* button: return to homepage */
    .return_homepage {
    padding-left: 20px;
    color: white;
  }

  /* button: reset */
   #resetButton {
    display: inline;
    float: right;
    margin-right: 30px;
  }
  
  .reset_styling {
    color: black;
    background-color: lightblue;
    border-radius: 12px;
    padding: 8px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  /* button: submit */
  .submitter {
    display: inline;
    clear: both;
    top: 60px;
    left: 10px;
    padding-left: 30px;
    margin-bottom: 20px;
  }

  .quiz_submit {
    color: black;
    background-color: lightblue;
    border-radius: 12px;
    padding: 8px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  /*countdown timer on 'movie quotes', 'actor quotes' pages */
  #countdown {
    color: greenyellow;
    text-align: right;
    font-size: 18px;
    margin-left: 46%;
    padding-right: 5px;
    position: fixed;
    max-width: 60px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 20;
  }

  /* container: to display user results */
.results_container {
  float: left;
  position: absolute;
  z-index: 8;
  margin-top: 20px;
  padding-left: 35px;
  line-height: 35px;
}

.quizScore {
  font-size: 25px;
  color: pink;
  padding-left: 5px;
}

/* overlay to be displayed when user scores 10/10 on quizzes */
#overlay {
  background-color: black;
  position: absolute;
  float: left;
  display: none;
  width: 200px;
  height: 120px;
  margin-top: 120px;
  margin-left: 150px;
  z-index: 30;
  transform: rotate(-20deg);
  border-radius: 25px;
}

#overlay_text {
  position: absolute;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  color: greenyellow;
}

/* FOOTER */
.footer {
  clear: both;
  padding-top: 120px;
  padding-bottom: 50px;
  padding-left: 25px;
}

.footer_link {
  color: lightblue;
  font-size: 20px;
  padding-right: 60px;
}

/* button: return to homepage */
.return_homepage {
  padding-right: 20px;
  color: white;
}

/* button: to go to next quiz */
.next_quiz {
  float: right;
  margin-right: 90px;
  padding-bottom: 30px;
  display: block;
    
  color: lightblue;
  background-color: black;
  border: 2px;
  border-radius: 12px;
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
  transition-duration: 0.5s;
  box-shadow: 0 0 10px 5px lightblue;
}

.next_quiz:hover {
  background-color: lightblue;
  color: black;
  }

  /* terms of service page */
 .body_margins {
  margin-left: 10px;
  margin-right: 20px;
}

/* M E D I A   Q U E R I E S   for tablets and mobiles */

/* T A B L E T S */
@media (max-width: 769px) and (min-width: 426px) {

  /* body headings and paragraphs */
  #content {
    width: 768px;
  }

  .logo_byline {
    font-size: 30px;
  }

  .paragraph {
    font-size: 22px;
    margin-right: 0;
  }

  p {
    font-size: 20px;
  }

  /* username prompt on home page */
  #form1 {
    font-size: 18px;
  }
  
  #name {
    font-size: 18px;
  }
  
  #submitPrompt {
    font-size: 18px;
  }

  /* image on home page */
  .image {
    content: url(/assets/images/lpopcorn_sq_c_comp.jpg);
    float: right;
    width: 250px;
    height: 250px;
    margin-right: 20px;
    margin-top: 30px;
    padding: 0;
    clear: right;
  }

  /* div positioning on homepage */
  .homepage_div {
    float: left;
    max-width: 50%;
    margin: 0;
  }
  
  .homepage_div_2 {
    float: left;
    width: 95%;
    padding-left: 20px;
  }

  /*countdown timer on 'movie quotes', 'actor quotes' pages */
  #countdown {
    margin-left: 45%;
    font-size: 17px;
    max-width: 60px;
  }

  /* 'movie quotes quiz' and 'actor quotes quiz' question & answer blocks */
  .question-left {
    width: 41%;
  }

  .question-right {
    width: 43%;
  }

  /* images on 'movie quotes quiz', 'actor quotes quiz' */
  .image_positioning {
    float: right;
    margin-right: 20px;
  }

  .image_positioning_2 {
    float: right;
    margin-right: 20px;
  }

  /*  FOOTER */
  /*.footer_link {
    font-size: 18px;
    padding-right: 30px;
  }*/
  
  /* button: to go to next quiz */
  .next_quiz {
    font-size: 18px;
    margin-right: 20px;
  }

  /*.mq {
    padding-left: 24px;
  }*/

}

/* M O B I L E S */
@media screen and (max-width: 426px) {

  /* settings to prevent horizontal scrolling for mobile screen */
  html, body {
    overflow-x: hidden !important;
    max-width: 100% !important;
    margin: auto;
    padding: 0;
  }

  /* body headings and paragraphs */
  h1 {
    font-size: 40px;
  } 

  .logo_byline {
    font-size: 23px;
  }

  h2 {
    padding-left: 10px;
  }

  ul {
    padding: 17px;
    margin: 0;
  }

  .paragraph {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 0;
  }

  p {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* username prompt on home page */
  .prompt {
    float: left;
    max-width: 100%;
    padding-top: 15px;
    padding-left: 5px;
    margin: 0;
  }

  #form1 {
    font-size: 16px;
  }
  
  #name {
    font-size: 16px;
  }
  
  #submitPrompt {
    font-size: 16px;
  }

  #result {
    padding-left: 22px;
    font-size: 18px;
  }

  /* image on home page */
  .image {
    content: url(/assets/images/lpopcorn_sq_c_comp.jpg);
    width: 325px;
    height: 325px;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
  }

  /* div positioning on homepage */
  .homepage_div {
    float: left;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 15px;
    margin: 0;
  }
  
  .homepage_div_2 {
    float: left;
    width: 90%;
    padding-left: 15px; 
  }

  /* button: start quiz on 'home page' */
  .quiz_button {
    font-size: 20px;
  }

  /*countdown timer on 'movie quotes', 'actor quotes' pages */
  #countdown {
    float: right;
    display: block;
    max-width: 56px;
    margin-left: 78%;
    font-size: 16px;
    line-height: 22px;
    background-color: rgba(255, 255, 255, 0.3);
  } 

  /* 'movie quotes quiz' and 'actor quotes quiz' heading and positioning */
  .quiz_heading {
    font-size: 35px;
    padding-right: 20px;
  }

  .quiz_positioning {
    padding-top: 30px;
    margin-right: 0;
    padding-left: 0;
  }

  /* 'movie quotes quiz' and 'actor quotes quiz' question & answer blocks */
  .question-left {
    float: left;
    display: block;
    width: 77%;
    margin: 0;
    padding: 0;
  }

  .question-right {
    float: left;
    display: block;
    width: 77%;
    margin: 0;
    padding: 0;
  }

  /* radio button size*/
  input[type='radio'] { 
    transform: scale(1.5); 
  }

  /* images on 'movie quotes quiz', 'actor quotes quiz' */
  .image_positioning_2 {
    float: left;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 30px;
    background-color: black;
  }

  .image_positioning {
    float: left;
    margin-bottom: 5px;
    margin-top: 25px;
    margin-left: 30px;
  }

  /* button: return to homepage */
  .return_homepage {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  /* button: reset */
  #resetButton {
    position: absolute;
    float: right;
    margin-top: 0px;
    margin-left: 50px;
    clear: both;
  }

  /* container: to display user results */
  .results_container {
    padding-left: 10px;
    padding-right: 5px;
    margin-top: 22px;
    line-height: 30px;
    font-size: 18px;
    z-index: 10;
    background-color: black;
  }

  .quizScore {
    font-size: 20px;
  }

  /* overlay to be displayed when user scores 10/10 on quizzes */
  #overlay {
    width: 250px;
    height: 130px;
    margin-top: 130px;
    margin-left: 40px;
    background-color: black;
  }

  #overlay_text {
    padding: 15px;
    font-size: 20px;
  }

  /* FOOTER */
  .footer {
    padding: 0;
    margin-left: 30px;
    clear: both;
  }

  /* button: to go to next quiz */
  .next_quiz {
    float: left;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 30px;
    margin-top: 90px;
    font-size: 22px;
  }

  .footer_link {
    font-size: 20px;
    display: block;
    padding-top: 20px;
    padding-left: 15px;
    margin-bottom: 10px;
  }

  /* button: return to homepage */
  .return_homepage {
    font-size: 20px;
    padding-top: 30px;
    padding-left: 20px;
  }
}

/* L A R G E   L A P T O P  Screens between 1025px and 1441px */
@media (max-width: 1441px) and (min-width: 1025px) {
  
  #content {
    width: 1440px;
  }

  /* 'movie quotes quiz' and 'actor quotes quiz' question & answer blocks */
  .question-left {
    width: 46%;
  }

  .question-right {
    width: 46%;
  }
}